#box{
    height: 500px;
    width : 500px;
    border: 2px solid black;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 30px;
}